h1{
  margin-left:700px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: .15em;
}
body{
  background: rgb(66, 244, 158);
  background: linear-gradient(to left, #42f49e,#9bf44246 );
}
#letter{
  margin-left:690px;
  width: -50%;
  box-sizing: border-box;
}
#word{
  width: -50%;
  box-sizing: border-box;
}
#numofguess{
  margin-left: 750px;
  font-weight: bold;
  font-size: x-large;
  font-family: monospace;
  letter-spacing: .10em;
}
#match{
  margin-left: 750px;
  font-weight: bold;
  font-size: x-large;
  font-family: monospace;
  letter-spacing: .10em;
}
#used{
  margin-left: 760px;
  font-weight: bold;
  font-size: x-large;
  font-family: monospace;
  letter-spacing: .15em;
}
#answer{
  margin-left: 780px;
  font-weight: bold;
  font-size: xx-large;
  font-family: monospace;
  letter-spacing: .10em;
}
#rules{
  margin-left: 780px;
  font-weight: bold;
  font-size: xx-large;
  font-family: monospace;
  letter-spacing: .10em;
}
#startgame{
  margin-left: 650px;
}
ul{
  margin-left:700px
}
